<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        body{
            background: #f5f5dc;
        }
        html,
        body {
            height: 100%;
        }
        .scroll-none::-webkit-scrollbar{
            display: none;
        }
    </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="{% url 'seller_home' %}">Pharmacy</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="{% url 'seller_home' %}">Home</a>
                  <a class="nav-item nav-link" href="{% url 'seller_pill' %}">Препараты</a>
                  <a class="nav-item nav-link" href="{% url 'seller_recipe' %}">Рецепты</a>
                  <a class="nav-item nav-link active" href="{% url 'seller_storage' %}">Заказ</a>
                </div>
              </div>
        </nav>
<div class="border h-100 border-light p-3 mb-4">
        <div class="row" >
            <div class="col scroll-none" style="overflow-x: auto;">
                <H2 align="center">Заказ №{{orderId}}</H2>
                <table class="table table-hover table-dark">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Наименование</th>
                      <th scope="col">Количество</th>
                      <th scope="col">Цена</th>
                      <th scope="col">Штрихкод</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in table%}
                    <tr>
                      <th scope="row">{{item.0}}</th>
                      <td>{{item.2}}</td>
                      <td>{{item.1}}</td>
                      <td>{{item.3}}</td>
                        <td>{{item.4}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <div class="bg-dark rounded p-2 mb-2">
                    <form method="post" class="text-light">
                        <label class="text-light py-2">Создать заказ</label>
                        <div class="form-group">
                             <input type="submit" name="createorder" class="btn btn-primary">
                        </div>
                    </form>
                  </div>
                <div class="bg-dark rounded p-2 mb-2">
                    <form method="post" class="text-light">
                        <label class="text-light py-2">Добавить в корзину</label>
                        <div class="form-group">
                            {{addPillToBasketForm}}
                        </div>
                        <div class="form-group">
                             <input type="submit" name="addtobasket" class="btn btn-primary">
                        </div>
                    </form>
                  </div>
                <div class="bg-dark rounded p-2 mb-2">
                    <form method="post" class="text-light" target="_blank">
                        <label class="text-light py-2">Сгенерировать чек</label>
                        <div class="form-group">
                             <input type="submit" name="generatecheck" class="btn btn-primary">
                        </div>
                    </form>
                  </div>

            </div>
        </div>
    </div>
</body>
</html>