<!DOCTYPE html>
<html lang="en" >
<head>
    <style>
        html, body {
            height: 100%;
        }
        a{
            margin-left: 20px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
      <div class="h-100 d-flex align-items-center justify-content-center" style="background: #f5f5dc">
          <div class="blue" class="p-3 bd-highlight col-example">
          <form class="col-12" method="post" >
            {% csrf_token %}
            {{form.as_p}}
            <div class="d-flex align-items-center justify-content-center">
                <input type="submit" value="Войти"><br><br>
                <a href="{% url 'manager_login' %}">Войти как менеджер</a>
            </div>
          </form>
          </div>
      </div>
</body>
</html>